.my-nav {
    background-color: #ececec;
    border-radius: 0 0 10px 10px;
}

.my-nav > ul {
    display: flex;
    padding: 10px;
}

.my-nav ul li {
    margin-left: 15px;
    list-style-type: none;
    cursor: pointer;
}

.my-nav a {
    text-decoration: none;
    font-weight: bold;
}
